* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
ul,
li,
input {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}

html {
  font-size: $base-font-size;

  @include tablets {
    font-size: $base-font-size - 1px;
  }

  @include phones {
    font-size: $base-font-size - 2px;
  }
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: rem($base-font-size);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
}

.wrapper {
  overflow: hidden;
}

.container {
  width: 95%;
  height: 100%;
  max-width: $container-width;
  margin: 0 auto;
  position: relative;
  z-index: $z-container;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &_jcontent_sb {
    justify-content: space-between;
  }
}

ul {
  list-style: none;
}

img, svg {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all .3s ease;
}

button, input[type=reset] {
  background: transparent;
  border: 0;
  -webkit-tap-highlight-color: transparent; //без синего фона при нажатии

  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
  }
}