.btn {
    border: 0;
    background-color: transparent;
    padding: rem(13px) rem(15px);
    border-radius: 5px;
    font-size: rem(13px);
    text-transform: uppercase;
    color: #fff;
    align-self: center;
    line-height: 1em;

    &_theme_red {
        background-color: $btnOrange;
    }

    &:focus {
        outline: none;
    }

    &:hover {
        cursor: pointer;
    }
}