.btn {
    padding: rem(13px) rem(15px);
    border-radius: 5px;
    font-size: rem(13px);
    text-transform: uppercase;
    color: #fff;
    align-self: center;
    line-height: 1em;

    &_theme_red {
        background-color: $btnOrange;
    }

    &_theme_dark {
        background-color: $darkTitle;
    }

    &_margine_right {
        margin-right: rem(20px);
    }
}