.controls__input {
    display: none;

    &:checked {
        & ~ .controls__icon::after, ~ .controls__icon .controls__icon_type_check {
            display: block;
        }
    }
}

.controls__icon {
    width: rem(15px);
    height: rem(15px);
    background-color: #fff;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    &_type_radio {
        border-radius: 50%;

        &::after {
            content: '';
            display: none;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background-color: $red;
        }
    }

    &_type_check {
        display: none;
        width: 10px;
        height: 8px;
        fill: $red;
    }
}

.controls__title {
    font-size: rem(14px);
    font-weight: 300;
    line-height: 1.71;
}