.dignities__list {
    display: flex;
    justify-content: space-between;
}

.dignities__item {
    width: calc(100% / 3 - 2rem);
}

.dignity {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.dignity__icon {
    width: rem(97px);
    height: rem(89px);
    margin-bottom: rem(33px);
}

.dignity__content {
    & h4 {
        font-family: Lifehack, sans-serif;
        font-size: rem(24px);
        color: $darkTitle;
        margin-bottom: rem(25px);
    }

    & p {
        font-size: rem(14px);
        font-weight: 300;
        color: rgba(47, 50, 52, 0.8);
        line-height: 1.71em;
    }
}