.section {
    height: 100vh;
    padding: rem(113px) 0;
}

.section__title {
    font-family: Gagalin, sans-serif;
    font-size: rem(72px);
    text-transform: uppercase;
    color: $darkTitle;
    text-align: center;
    margin-bottom: rem(55px);
}

.section__hero {
    position: relative;
    padding: rem(13px) 0 rem(40px);
    background: url('./img/heroBG.png') top center / cover no-repeat;

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba($color: #000, $alpha: .31);
    }
}

.section__about {
    background: url('./img/aboutBG.jpg') top center / cover no-repeat;
}