.section {
    height: 100vh;
    padding: rem(113px) 0;
    position: relative;
}

.section__title {
    font-family: Gagalin, sans-serif;
    font-size: rem(72px);
    text-transform: uppercase;
    color: $darkTitle;
    text-align: center;
    margin-bottom: rem(55px);

    &_color_orange {
        color: #f9b43b;
    }

    &_color_white {
        color: #fff;
    }

    &_text-align_left {
        text-align: left;
    }
}

.section__hero {
    position: relative;
    padding: rem(13px) 0 rem(40px);
    background: url('./img/heroBG.png') top center / cover no-repeat;

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba($color: #000, $alpha: .31);
    }
}

.section__about {
    background: url('./img/aboutBG.jpg') top center / cover no-repeat;
}

.section__slider {
    background: linear-gradient(to bottom, #f9b43b 24%, #eb8c38 48%, #f9b43b 74%);

    & .container {
        flex-direction: row;
        align-items: center;
    }
}

.section__team {
    position: relative;
    padding: 0;
    background: url('./img/teamBG.jpg') top center / cover no-repeat;

    & .container {
        width: rem(542px);
        padding: rem(97px);
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        background-color: rgba($color: $darkTitle, $alpha: .93);
    }
}

.section__menu {
    background: url('./img/accordionBG.jpg') top center / cover no-repeat;

    & .container {
        position: static;
        height: auto;
    }
}

.section__people-about {
    padding: 0;

    & .container {
        width: 100%;
        height: 100%;
        max-width: 100%;
    }
}


.section__form {
    background: url('./img/formBG.png') center center / cover no-repeat, url('./img/formMaskBG.jpg') center center / cover no-repeat;
}