.team__list {
    height: 100%;
}

.team__item {
    margin-bottom: rem(22px);

    &_active {
        & .teammate__name {
            color: $orange;
        }
    }

    &:last-child {
        margin-bottom: 0;
    }
}

.teammate__btn {
    display: flex;
    align-items: center;
}

.teammate__triangle {
    border: 5px solid transparent;
    border-top: 7px solid $orange;
    border-bottom: 0;
    margin-right: 10px;
    transition: transform .3s ease;
}

.teammate__name {
    font-family: Gagalin, sans-serif;
    font-size: rem(14px);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    color: #fff;
}

.teammate__wrapper {
    height: 0;
    padding: rem(18px) 0 0 rem(20px);
    overflow: hidden;
    transition: all .3s ease;
}

.teammate__about {
    display: flex;
    align-items: center;
}

.teammate__photo {
    width: rem(100px);
    height: rem(100px);
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
    margin-right: rem(20px);
}

.teammate__photo-img {
    object-fit: cover;
}

.teammate__desc {
    line-height: 1.71;

    & div {
        font-weight: 700;
        margin-bottom: rem(15px);
    }

    & p {
        font-weight: 300;
    }
}